body {
  background-color: #eee;
  font-family: 'Shadows Into Light';
}

.white-box {
  /*background-color: #fff;*/
  border-radius: 5px;
}

.row {
  margin-top: 20px;
}

.title h1{
  text-align: center;
  font-size: 80px;
}

#results {
  margin-left: 20px;
  font-size: 40px;
  height: 372px;
}

#div-operations{
  font-size: 25px;
}

#start-quiz {
  text-align: center;
  font-size: 60px;  
}

#questionbox {
  font-size: 100px;
}

#results-box {
  text-align: center;
}
#you-scored {
  padding-top: 20px;
}
#question-answer {
  font-size: 20px;
}
.invisible {
  display: none;
}
#time-box {
  padding-top: 80px;
}
#time-left {
  font-size: 100px;
}

#time-left-text {
  margin-top: -20px;
  color: #777;
  text-align: center;
}

.no-bullets {
  list-style-type: none;
}